.sustainability-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 500px;
  }
  
  .sustainability-image {
    flex: 1;
    min-width: 300px;
    max-height: 100%;
  }
  
  .sustainability-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  .sustainability-content {
    flex: 1;
    background: white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 2rem;
    min-width: 300px;
    text-align: center;
  }
  
  .sustainability-content h4 { 
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  
  .sustainability-content h2 {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
  }
  
  .sustainability-content p {
    background-color: #264bbc;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.6;
    border-radius: 4px;
    margin: 0 auto 2rem auto;
    color: white;
    max-width: 90%;
  }
  
  .read-more {
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .read-more:hover {
    background-color: #f3f3f3;
  }

  /* -------------Form---------------- */

  .form-container {
    max-width: 700px;
    margin: 0; 
    margin-left: auto; /* Remove auto-centering */
    padding: 1.5rem;
    background-color: white;
    border-radius: 0.5rem;
  }
  
  
  .form-title {
    color: black;
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .form-error {
    color: red;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .form-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-label {
    display: block;
    color: black;
    text-align: left;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
  }
  
  .form-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 1rem;
  }
  
  .form-input:focus {
    border-color: #60a5fa; /* Light blue */
    box-shadow: 0 0 0 2px rgba(96, 165, 250, 0.4);
    outline: none;
  }
  
  .form-button {
    width: 100%;
    padding: 0.75rem;
    background-color: white;
    border: 1px solid #ccc;
    color: black;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .form-button:hover,
  .form-button:focus {
    border-color: #60a5fa;
    box-shadow: 0 0 0 2px rgba(96, 165, 250, 0.4);
    outline: none;
  }


  
  /* Responsive tweaks */
  @media (max-width: 768px) {
    .sustainability-section {
      flex-direction: column;
    }
  
    .sustainability-content {
      text-align: center;
    }
  }
  