.site-footer {
    background-color: #f7f7f7;
    padding-top: 3rem ;
    font-size: 0.9rem;
    color: #333;
  }
  
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 3rem;
  }

  .footer-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex: 2;
  }
  
  .footer-section {
    min-width: 160px;
  }
  
  .footer-links h4 {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 0.6rem;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .footer-links ul li:hover {
    color: #5c7c45;
    text-decoration: underline;
  }

  .newsletter {
    flex: 1;
    max-width: 300px;
  }

  .newsletter h4 {
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }

  .newsletter p {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #333;
  }
  
  .newsletter input[type="email"] {
    width: 100%;
    max-width: 300px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .newsletter button {
    background-color: #5c7c45;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .newsletter button:hover {
    background-color: #4c6839;
  }
  
  .footer-bottom {
    background-color: #e7e7e8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0rem 3rem;
    gap: 1rem;
    text-align: center;
    margin-top: 2rem;
  }
  
  .footer-bottom > div {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }
  
  .footer-bottom .social-icons {
    justify-content: flex-start;
  }
  
  .footer-bottom .footer-copy {
    justify-content: center;
  }
  
  .footer-bottom .payment-icons {
    justify-content: flex-end;
  }
  
  .footer-copy p {
    margin: 0;
    font-size: 0.9rem;
    color: #333;
  }  

  .social-icons,
  .payment-icons {
    gap: 1.2rem;
    flex-wrap: wrap;
  }
  
  .social-icons svg,
  .payment-icons svg {
    font-size: 2rem;
    padding: 0.6rem;
    border-radius: 50%;
    background-color: black;
    color: white;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  
  .payment-icons svg {
    border-radius: 0;
    padding: 0.4rem;
    width: 3rem;
    height: 2rem;
    background-color: black;
    color: white;
  }

  .social-icons svg:hover,
.payment-icons svg:hover {
  background-color: #5c7c45;
  color: white;
}

  .footer-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  
  /* Hide arrows on desktop */
  @media (min-width: 769px) {
    .accordion-arrow {
      display: none;
    }
  }
  
  
  /* Responsive */
  @media (max-width: 768px) {

    .footer-bottom {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .footer-bottom > div {
      justify-content: center !important;
      width: 100%;
    }

    .footer-links {
      flex-direction: column;
      align-items: center;
      text-align: left;
    }
  
    .footer-links > div {
      width: 100%;
      max-width: 300px;
    }
  
    .newsletter input[type="email"] {
      width: 100%;
    }
  }
  